.card-story {
  height: 20rem;
  margin-bottom: 1rem;
  color: $page-black;

  .story-content {
    .story-title {
      letter-spacing: -.028em;
      line-height: 1.04;
      font-size: 29px;
      margin: 0;
      font-weight: 400;
      color: $title-black;
    }
    .story-sub-title {
      font-size: 23px;
      margin-top: 0.2em;
      line-height: 1.22;
      letter-spacing: -.022em;
      color: $page-gray;
      font-weight: 300
    }
  }
  .story-snippet {
    margin-bottom: 1.6em;
  }

  .article-readMore a {
    color: $page-gray;


  }

  .article-readMore a p {
    font-size: 0.78em;
  }

  .article-readMore a:hover {
    font-weight: bold;
    color: $link-gray-hover;
  }

}

.story-metadata {
  margin-bottom: 10px !important;

  .profile-pic {
    vertical-align: top;
    border-radius: 100%;
    height: 36px;
    width: 36px;
  }

  .user_metadata {
    display: inline-block;
    margin-left: 10px !important;
  }

  .story-date {
    font-size: 12px;
  }

}

.link {
  cursor: pointer;
}

.link-accent {
  color: $page-green;
}
