
$page-gray: rgba(0,0,0,.44);
$logo-gray: #404040;
$sub-nav-gray: .2px solid #dddddd;

 .App {
  // border: 1px solid red;
  margin-top: 10px;
}

nav {
  color: $page-gray;
  background-color: #fff;
}

.card {
  margin: 0 0 1rem 0;
}

@import "./pages/Navbar/navbar.scss"
