
// @import "navbar"

 .App {
  // border: 1px solid red;
}

nav {
  color: black;
  background-color: #fff;
}

.top-nav {
  box-shadow: none;
}

.card {
  margin: 0 0 1rem 0;
}

.nav-wrapper {
  padding: 0 2%;
  // background-color: #FFF;
  border-bottom: .5px solid #dddddd;
  .brand-logo {
    color: black;
  },
  .right-nav-elements {
    li > a {
      color: black
    }
  }
}
