.App {
  margin-top: 10px; }

nav {
  color: rgba(0, 0, 0, 0.44);
  background-color: #fff; }

.top-nav {
  box-shadow: none; }

.card {
  margin: 0 0 1rem 0; }

.nav-wrapper {
  padding: 0 2%;
  border-bottom: .5px solid #dddddd; }
  .nav-wrapper .brand-logo {
    color: #404040;
    font-size: 1.4rem; }
  .nav-wrapper li > a,
  .nav-wrapper .right-nav-elements li > a {
    color: rgba(0, 0, 0, 0.44); }
